/* Styles for Nav Section */
        .nav{
            margin: 50px;
            
            height: 200px;
            display: flex;
            justify-content: space-between;
            
        }
        .nav-right{
            display: flex;
            
        }
        .nav-right a{
            text-decoration: none;
            justify-content: space-around;
            font-size: 30px;
            margin: 60px 20px 0 0;
            font-weight: bold;
            
        }
        .span-tag{
            color: orange;
        }
        .nav-left{
            display: flex;
            margin: 20px 0 0 30px;
        }
        .n-l-b2{
            margin-left: 10px;
            font-size: 20px;
            
        }
        .n-l-b1{
            margin-top: 20px;
            margin-right: 10px;
        }
        .nav-right-mob{
            display: none;
        }

        /* THis section is media query(maxwidth:576px) */
        @media (max-width: 576px){
            .nav-right{
                display: none;
            }
            .nav-right-mob{
                display: block;
                margin-top: 50px;
                
            }
            .nav-right-mob-img{
                width: 50px;
                height: 50px;
            }
            .nav-left{
                display: flex;
                flex-direction: column;
            }
            .n-l-b2{
                font-size: 20px;
            }
        }


        /* THis section is media query(minwidth:577pxto1024px) */
        @media (min-width:577px) and (max-width: 1024px){
            .nav-right{
                display: none;
            }
            .nav-right-mob{
                display: block;
                margin-top: 50px;
                
            }
            .nav-right-mob-img{
                width: 50px;
                height: 50px;
            }
            .nav-left{
                display: flex;
                flex-direction: column;
            }
        }